.header {
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0) url("./img/img1.jpg") repeat scroll bottom center;
    background-size: cover;

    &__logo {
        height: 4.5rem;
        display: flex;
        align-items: center;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
    }

    .search {
        background-color: #fff;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        transition: all 0.3s;
        text-shadow: 4px 4px 12px rgba(0, 0, 0, 1);


        &:focus-within {
            transform: translateY(-2px);
            box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
        }

        &__field {
            border: none;
            background: none;
            font-family: inherit;
            color: inherit;
            font-size: 1.7rem;
            width: 40rem;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #dbd4d4;

            }
        }
    }

    .likes {
        position: relative;
        align-self: stretch;
        padding: 0 !important;

        &__field {
            cursor: pointer;
            padding: 0 4rem;
            display: flex;
            align-items: center;
            height: 100%;
            transition: all 0.3s;

            &:hover {
                background-color: #f2efee;
            }

            .likes__icon {
                fill: #f59a83;
                height: 3.75rem;
                width: 3.75rem;
            }
        }

        &__panel {
            position: absolute;
            right: 0;
            top: 10rem;
            z-index: 10;
            padding: 2rem 0;
            width: 34rem;
            background-color: #fff;
            box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s 0.2s;

            .likes__list {
                list-style: none;

                .likes__link {

                    &:link,
                    &:visited {
                        display: flex;
                        align-items: center;
                        padding: 1.5rem 3rem;
                        transition: all 0.3s;
                        border-right: 1px solid #fff;
                        text-decoration: none;
                    }

                    &:hover {
                        background-color: #f9f5f3;
                        transform: translateY(-2px);
                    }

                    .likes__fig {
                        flex: 0 0 5.5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        height: 5.5rem;
                        margin-right: 2rem;
                        position: relative;
                        backface-visibility: hidden;

                        &::before {
                            content: "";
                            display: block;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
                            opacity: 0.4;
                        }

                        .likes__img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}

.likes__field .likes__panel:hover,
.likes__field:hover+.likes__panel {
    visibility: visible;
    opacity: 1;
}

.likes .likes {
    padding: 3rem 0;
}

.likes__link--active {
    background-color: #f9f5f3;
}


.likes__name {
    font-size: 1.3rem;
    color: #f59a83;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.3rem;
}


.likes__author {
    font-size: 1.1rem;
    color: #968b87;
    text-transform: uppercase;
    font-weight: 600;
}


.likes__pages {
    margin-top: 3rem;
    padding: 0 3rem;
}


.likes__pages::after {
    content: "";
    display: table;
    clear: both;
}


.likes__btn--prev {
    float: left;
    flex-direction: row-reverse;
}

.likes__btn--next {
    float: right;
}